<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments.html :: head ('Список настроек')">
</head>
<body>
<div th:insert="~{manager/navbar-manager}"></div>

<div class="container">
    <h1 class="mt-4">Список всех настроек</h1>
    <hr/>

    <h3 class="mt-4">Настройки по типу покрытия (Surface)</h3>
    <div th:each="surface : ${configs.surfaceConfigs}" class="card mb-3 p-3 border">
        <p><strong>Тип покрытия:</strong> <span th:text="${surface.surface}">Асфальт</span></p>
        <p><strong>Модификатор покрытия:</strong> <span th:text="${surface.multiplier}">1.0</span></p>
    </div>

    <h3 class="mt-4">Настройки по типу дороги (Road Type)</h3>
    <div th:each="type : ${configs.typeConfigs}" class="card mb-3 p-3 border">
        <p><strong>Тип дороги:</strong> <span th:text="${type.type}">Магистраль</span></p>
        <p><strong>Модификатор дороги:</strong> <span th:text="${type.multiplier}">1.0</span></p>
    </div>

    <div class="text-end mt-4">
        <a th:href="@{/admin/road-config/update}" class="btn btn-primary">Редактировать</a>
    </div>
</div>
</body>
</html>
