<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments.html :: head ('Маршруты')">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div th:insert="~{driver/navbar}"></div>
<div class="container">
    <h1> Список всех маршрутов </h1>
    <br/>

    <div th:each="route : ${routes}" class="card mb-3 p-3 border">
        <h5>
            <a th:href="@{/driver/routes/{routeId}(routeId=${route.id})}" th:text="${route.cargoName}">Название груза</a>
        </h5>
        <p><strong>Откуда:</strong> <span th:text="${route.startAddress}">Адрес отправления</span></p>
        <p><strong>Куда:</strong> <span th:text="${route.endAddress}">Адрес прибытия</span></p>
        <p><strong>Дата начала:</strong> <span th:text="${#temporals.format(route.startDate, 'dd.MM.yyyy HH:mm')}">Дата</span></p>
        <p><strong>Вес (т):</strong> <span th:text="${route.weight}">0.0</span></p>
        <p><strong>Водитель:</strong> <span th:text="${route.driver != null ? route.driver.fio : '—'}">Имя водителя</span></p>
        <p><strong>Менеджер:</strong> <span th:text="${route.manager != null ? route.manager.fio : '—'}">Имя менеджера</span></p>
    </div>

</div>
</body>
</html>
